*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(225, 219, 216);
     min-height:100vh ; 
     border: 10px solid green;
}
.top_section{
    margin: 100px;
    display: flex;
    justify-content:space-between  ;
}
.top_section{
    font-size: 30px;
    text-transform: uppercase;
    align-items: flex-end;
    font-weight: bold;
    color: black;
}
.top_section h4{
    text-align: end;
    font-size: 20px;

}
.content{
    max-width: 900px;
    margin: 0 auto;
}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}

.image_container{
    border-radius: 5px;
    border-radius: 50%;

}

.about_section{
    margin: 50px;

}
.about_section h2{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 500;

}

.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.Biography_section{
    margin-top: 50px;

}

.Biography_section h3{
    margin-bottom: 20px;
    margin-left: 50px;
}

.Biography_section ul{
    font-size: 20px;
    
    margin-left: 80px;
    margin-bottom: 15px;
    line-height: 20px;
    letter-spacing: 1.2px;


}

footer{
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin-left: 700px; */
}
footer{
    text-align: end;

}